.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
  }
  
  .dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }
  .dropdown-menu {
    position:'absolute';
    transform: translateY(4px);
    width:100%;
    border:1px solid #FFC0C7;
    border-radius:5;
    overflow:'auto';
    max-height:150;
}
 .dropdown-item {
    padding:5;
    cursor:pointer;
}
 .dropdown-item:hover{
    background-color: #FFC0C7;
 }
/********************************************************************/

 .dropdown-menu1{
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  overflow: hidden;
}
.menu-item1{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius:5px;
  transition: background 500ms;
  padding: 0.5rem;
  cursor:pointer;
}

.menu-item1:hover{
  background-color: #FFC0C7;
}
